
{% extends "checklist/checklist_base.html" %}
    
            
    {% block sections_view %}
        <div class="list-group  list-group-flush"> 
        {% for section in sel_sections %}
            <a href="/projects/checklist/view-sections/{{checklist.id}}/{{section.id}}" class="list-group-item px-0 py-1"><i class="bx-folder "></i><span>{{section.name|title }}</span></a>
        {% endfor%}
        </div>
    {% endblock %}
                                
    {% block question_view %}
    {% if sel_sections|length == 0 %}
        <h6> please add atleast one section to proceed !</h6>
    {% endif %}
    <table class="table table-sm mb-0">
        <tbody>
               
                {% for question in sel_questions %}
                    <tr>
                        <td>
                            <!--Section: Contact v.2-->
                            <section class=" mb-2">
                                <div class="d-flex">
                                <!--Section heading-->
                                <div class="border-bottom"><h6 class="mb-0"><strong>{{question.question|capfirst}}</strong></h6></div>
                                
        
                                </div>
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-md-9 mb-md-0 mb-2">
                                        <form id="question-form" name="question-form" action="mail.php" method="POST">
                                            <!--Grid row-->
                                            <div class="row">
                                                <!--Grid column-->
                                                <div class="col-md-6">
                                                    <div class="md-form mb-0">
                                                        {% if question.type == 'text'%}
                                                            <div class="md-form mb-2">
                                                                <input type="{{question.type}}" id="s{{section.id}}-q{{question.id}}-o{{option.id}}" name="{{option.option}}" value="{{option.option}}">
                                                
                                                            </div>
                                                        {% else %}
                                                            <div class="md-form mb-2">
                                                                {% for option in question.options.all %}
                                                                    <input type="{{question.type}}" id="s{{section.id}}-q{{question.id}}-o{{option.id}}" name="{{option.option}}" value="{{option.option}}">
                                                                    <label for="html">{{option.option}}</label><br>
                                                                {% endfor%}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        
                                        <div class="status"></div>
                                    </div>
                                    <!--Grid column-->
                                </div>

                            </section>
                            <!--Section: Contact v.2-->
                        </td>
                    </tr>
                {% endfor %}

        </tbody>
    </table>
    {% endblock %}
