<!DOCTYPE html>
<html lang="en">
	{% load static %}
<head>
	<title>ICPRO</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{%static  'vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{%static  'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{%static  'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{%static  'css/main.css' %}">
    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }
        
        /* Firefox */
        input[type=number] {
        -moz-appearance: textfield;
        }
    </style>
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">				
				<div>
					<a href='#'>
						<img src="{%static  'images/icpro.png' %}" alt="ICPro" style="width:100%">			
					</a>
					<p style="font-weight: bold;"> Industrial Automation & Digitalization</p>	
				</div>
				<form id="login_from" method="POST" action="">
                    {% csrf_token %}        
                    <div class="login_div ">
                        <div class="login_box ">
                            <div class="login_text ">
                                Success!!
                            </div>
                            <div class="login_note ">
                                    Your password has been reset <a style="color: #008cff;" href="/">Click here to Login</a>.                   
                            </div>                                       
                            <div class="login_button_div" style="color: #FF0000;">
                                {{form.errors}}
                            </div>                    
                        </div>                
                    </div>
                </form>  
			</div>
		</div>
	</div>
	
	<script src="{%static  'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<script src="{%static  'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{%static  'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{%static  'vendor/tilt/tilt.jquery.min.js' %}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	<script src="{%static  'js/main.js' %}"></script>

</body>
</html>












             
   